/* Стили для адаптивного позиционирования кнопки темы */

/* На мобильных устройствах показываем кнопку в углу формы */
.themeButtonMobile {
  display: block;
}

.themeButtonDesktop {
  display: none;
}

/* На больших экранах (десктоп) показываем кнопку справа от формы */
@media (min-width: 768px) {
  .themeButtonMobile {
    display: none;
  }

  .themeButtonDesktop {
    display: block;
  }
}
